@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Gloria+Hallelujah&family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Gloria+Hallelujah&family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Assistant", sans-serif; */
/* font-family: "Gloria Hallelujah", cursive; */

/* 
ROXO ESCURO: #69009F
LAVANDA: #9A7BAA
AZUL: #AED6F1
ROSA: #F7DCDC
AMARELO: #FFCC00

*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Assistant", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    user-select: none;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
    align-items: center;
    background-color: #FFFFFF;
}

main {
    padding-top: 50px;
    height: auto;
}

.menus_header {
    display: flex;
    align-items: center;
}

.btn_header {
    display: flex;
    gap: 5px
}

#btn_login {
    font-size: 15px;
    width: 90px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    background-color: #69009F;
    border-radius: 10px;
    text-transform: uppercase;
}

#btn_cadastro {
    font-size: 15px;
    width: 140px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    background-color: #69009F;
    border-radius: 10px;
    text-transform: uppercase;
}

#btn_cadastro a {
    text-decoration: none;
    color: #FFFFFF;
}

#btn_login a {
    text-decoration: none;
    color: #FFFFFF;
}

#btn_login:hover {
    background-color: #4a006e8c;
}

#btn_cadastro:hover {
    background-color: #4a006e8c;
}

.a_logo_header {
    width: 10%;
    height: 10%;
    margin-right: 25%;
}

.logo {
    width: 120px;
    height: 175;
}

.navbar {   
    color: #ffffff;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.navbar a:hover {
    color: #9A7BAA;
    transition: color 0.7s ease;
}

.rodape_conteudo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 50px 10px;
    background-color: #9A7BAA;
    margin-top: 300px;
}

.colunas {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.logo_rodape {
    width: 23%;
}

.button_rodape {
    color: black;
    text-align: center;
}

.coluna1 a {
    text-decoration: none;
    font-family: "Gloria Hallelujah", cursive;
    color: #FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

.coluna2 a {
    text-decoration: none;
    font-family: "Gloria Hallelujah", cursive;
    color:#FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

.coluna3 a {
    text-decoration: none;
    font-family: "Gloria Hallelujah", cursive;
    color:#FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

.conteudo_home {
    display: flex;
    margin-left: 150px;
}

.titulo {
    text-align: center;
    margin-top: 300px;
}

#titulo_home {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 24px;
    font-weight: bold;
    color: #69009F;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

#texto_home {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #666666;
    font-weight: bolder;
}

.imagemComeco img{
    width: 700px;
    height: 600px;
    margin-top: 60px;
    margin-left: 80px;
}

.imagemComeco{
    animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.botaoComeco {
    font-size: 15px;
    width: 140px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    background-color: #69009F;
    border-radius: 10px;
    text-transform: uppercase;
    
}

.botaoComeco a{
    text-decoration: none;
    color: #FFFFFF;
}

.botaoComeco:hover {
    background-color: #4a006e8c;
}

.conteudo_sobre {
    display: flex;  
    background-color: #9A7BAA;
}

.imagemSobre {
    margin-right: 80px;
}

.imagemSobre img{
    width: 750px;
    height: 400px;
    margin-top: 150px;
}

.texto {
    text-align: center;
    margin-top: 300px;
    margin-right: 50;
    width: 400px;
}

#sobre {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 24px;
    font-weight: bold;
    color: #F7DCDC;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

#textoSobre {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bolder;
}

.conteudo_contato{
    background-color: #9A7BAA;
}

.projeto{
    height: 100vh;
    width: 100vw;
    background-color: #cc3e3e; 
}

.contato {
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.form {
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    height: 30%;
}

.form p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.form span {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}