@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Gloria+Hallelujah&family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Gloria Hallelujah", cursive; */

* {
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    align-items: center;
}

#imgLogo {
    width: 10%;
    height: 10%;
}

.img{
    margin-right: 40%;
    cursor: pointer;
}

.navbar{
    color: #000000;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-family: "Assistant", sans-serif;
    cursor: pointer;
}

li:hover{
    transform: scale(1.01);
    color: #9A7BAA;
    font-weight: bold;
}

.login{
    background-color: #9A7BAA;
    color: #FFFFFF;
    width: 100px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #9A7BAA;
    border: 1px solid;
    height: 25px;
}

.login:hover{
    background-color: #69009F;
}